.body{
    background: rgba(151,179,204,255);
}
.container{
    max-width: 400px;
    margin: 50px auto;
    max-height: 500px;
    background: white;
}
.messenger-header{
    background: #6a96d8;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.messenger-header__title{
    color: white;
 font-family: 'Roboto', sans-serif;
 font-weight: 700;
}
.messenger-header__btn__x{
     background: none;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     color: white;
     border: none;
     font-size: 20px;
}
.messenger-body{
    padding: 15px;
    text-align: center;
}
.messenger-body__enter__text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #e2e2e2;
    font-size: 12px;
}
.messenger-body__enter__text::before{
    position: absolute;
    top: 7px;
    content: "";
    display:block;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 150px;
    background: #e2e2e2;
}
.messenger-body__enter__text::after{
    position: absolute;
    top: 7px;
    right:-160px;
    content: "";
    display:block;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 150px;
    background: #e2e2e2;   
}
.messenger-active-left{
    max-width: 250px;
    text-align: left;
    margin-bottom: 20px;   
}
.messenger-active-left-first{
    float: left;
    margin-top: 0px;
}
.messenger-active-left-first .time{
    float: left;
}

.messenger-active-right-first{
    max-width: 280px;
    text-align: left;
    float: right;
}
.messenger-active-right-first .time{
    float: right;
}
.messenger-active-right-first .person{
    background:rgb(202, 202, 202);
    margin-top: 20px;
}
.time{
    color: #999999;
    font-size: 12px;
    font-family: "Roboto",sans-serif;
}
.person{
    padding: 5px;
    padding-right: 30px;
    background: #e6edf6;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
}
.messenger-active-right-second{
    float: right;
    max-width: 280px;
    margin-top: 50px;
}
.messenger-active-right-second .person{
    background:rgb(255, 182, 194);
}
.messenger-footer{
    padding: 0px 15px;
    margin-top: 200px;
    text-align: center;
    height: 55px;
}
.type{
    margin-top: 5px;
    background: none;
    border: none;
    outline: none;
    width: 70%;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
}
.btn{
    color: #6a96d8;
    border: none;
    background: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
}